<div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        onclick="dropdown('{{ title }}')"
>
    <i class="bi bi-chat-left-text-fill"></i>
    <div class="flex justify-between w-full items-center">
        <span class="text-[15px] ml-4 text-gray-200 font-bold"> {{ title }}</span>
        <span class="text-sm rotate-180" id="arrow-{{ title }}">
            <i class="bi bi-chevron-down"></i>
          </span>
    </div>
</div>
<div
        class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold hidden"
        id="submenu-{{ title }}"
>
    {% for menu in dropdownMenu %}
        {{ menu|raw }}
    {% endfor %}
</div>